.about-container {
  padding: 120px 98px 156px 96px;
  position: relative;
}
.about-layout {
  display: flex;
  justify-content: space-between;
}
.about-text-part h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  width: 570px;
  margin-top: 12px;
}
.about-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1a1a1a;
  width: 570px;
  margin-top: 30px;
}

.about-pic-part img {
  width: 630px;
  height: 438px;
}

.bg-about img {
    width: 854px;

  position: absolute;
  left: 0;
  top: 390px;
  z-index: -1;
}
