nav {
  display: flex;
  padding: 0 96px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 84px;
  background: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(7.5px);
  width: 100%;
  color: #23272f;
  z-index: 99;
}

.logo {
  width: 175px;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

ul > li {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-right: 56px;
  text-decoration: none;
}

ul > li > a {
  text-decoration: none;
  color: #23272f;
}

button {
  padding: 10px 20px;
  background-color: #047481;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.nav-link {
  position: relative;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid var(--primary-btn);
  transition: all 0.3s ease;
}

/* .underline {
  opacity: 0;
  height: 2px;
  width: 100%;
} */

/* @keyframes {

} */
