.footer-container {
  background: #edfafa;
  padding: 40px 98px 65px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container h3 {
  font-weight: 600;
  font-size: 60px;
  color: #000000;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
  margin-bottom: 60px;
}

.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 96px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  z-index: 50;
}

.btn:hover {
  background: #05505c;
  transition: all 0.4s ease;
}

.btn-border-first {
  position: absolute;
  left: 0;
  border-radius: 8px;
  margin-top: 20px;
  width: 339px;
  height: 68px;
  border: 2px solid #afecef;
  background-color: transparent;
  z-index: 48;
}

.btn-border-secondary {
  left: 0;
  position: absolute;
  margin: 10px 0 0 10px;
  border-radius: 8px;
  width: 339px;
  height: 68px;
  border: 2px solid #16bdca;
  background-color: transparent;
  z-index: 49;
}
.links{
  margin-right: -120px;
}
.links li {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-right: 90px;
}
.socialMedia {
  margin-right: 42px;
  width: 25px;
  height: 25px;
  color: #047481;
}
.author{
  font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #9CA3AF;
}
